:root {
	--player-height: 1px;
}

.player {
	padding-inline: 16px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	border-top: 1px solid var(--border-neutral-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 33%;
	gap: 16px;
	background-color: var(--background-neutral-secondary);
	z-index: 5;
}

.player-left {
	width: 100%;
	height: 48px;
	justify-content: flex-start;
	display: flex;
	align-items: center;
}

.player-left__music-name {
	font-size: 1rem;
	line-height: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
}

.player-left__author {
	line-height: 1.25rem;
	font-size: 0.875rem;
	overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
}

.player-left__music-name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.player-left__author:hover {
	text-decoration: underline;
	cursor: pointer;
}

.player-left__image {
	height: 100%;
	object-fit: contain;
	border-radius: 3px;
	border:1px solid var(--divider-neutral-primary)
}

.player-left__info {
	overflow: hidden;
	margin-left: 8px;
	font-weight: 400;
	height: 44px;
	font-family: Inter, sans-serif;
}

.player-left__actions {
	height: 32px;
	padding-left: 16px;
	display: flex;
	align-items: center;
	gap: 4px;
	fill: white;
}

.player-left__icon {
	height: 32px;
	width: 32px;
	padding: 4px;
	border-radius: 50%;
	transition: background-color,fill 0.3s ease;
}

.player-left__icon:hover {
	cursor: pointer;
	background-color: var(--divider-neutral-primary);
}

.player-left__icon:active {
	cursor: pointer;
	fill: var(--color-scheme-secondary);
	background-color: unset;
}

.player-center {
	width: 100%;
	height: 56px;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: center;
}

.player-center__icon {
	height: 32px;
	width: 32px;
	padding: 4px;
	border-radius: 50%;
	fill: white;
	transition: background-color .3s ease;

	svg {
		transition: fill .3s ease;
	}
}

.player-center__icon:hover {
	cursor: pointer;
	background-color: var(--divider-neutral-primary);
}

.player-center__icon:active {
	cursor: pointer;
	background-color: unset;

	svg {
		fill: var(--color-scheme-secondary);
	}
}

.player-handler {
	display: flex;
	gap: 0.5rem;
}

.player-center__play-pause {
	border-radius: 50%;
	background-color: var(--color-scheme-background);
}

.player-center__play-pause:hover {
    background-color: #49a3ba;
}

.player-center__play-pause:active {
	svg {
		fill: #fff;
	}
    background-color: #57b7cf;
}

.player-progress {
	position: relative;
	width: 80%;
	display: flex;
	height: 20px;
	align-items: center;
	justify-content: center;

	@media (max-width: 1440px) {
		width: 100%;
	}
}

.player-center__time_left {
	position: absolute;
	left: -45px;
	font-size: 0.75rem;
}

.player-center__time_right {
	position: absolute;
	right: -45px;
	font-size: 0.75rem;
}

.player-center__time-slider {
	--time-value: 0;
	-webkit-appearance: none;
	background-color: white;
	height: 2px;
	width: 100%;
}

.player-center_check {
	width: 0;
	height: 0;
	overflow: hidden;

}

.player-center__time-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
	border: 1px solid var(--border-neutral-primary);
  border-radius: 50%;
  cursor: pointer;
	transform: translateY(calc(-50% + var(--player-height)));
}

.player-center__time-slider::-webkit-slider-runnable-track {
	height: 2px;
	cursor: pointer;
	background: var(--divider-neutral-primary);
	border-radius: 4px;
	background: linear-gradient(to right, var(--color-scheme-secondary) 0%, var(--color-scheme-secondary) var(--time-value), white var(--time-value), white 100%);
}
.player-center__time-slider:hover::-webkit-slider-runnable-track {
	height: 4px;
	--player-height: 2px;
	background: linear-gradient(to right, var(--color-scheme-secondary) 0%, var(--color-scheme-secondary) var(--time-value), white var(--time-value), white 100%);
}

.player-center__time-slider::-moz-range-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
	border: 1px solid var(--border-neutral-primary);
  border-radius: 50%;
  cursor: pointer;
	transform: translateY(calc(-50% + var(--player-height)));
}

.player-center__time-slider::-moz-range-track {
	height: 2px;
	background: var(--divider-neutral-primary);
}

.player-right {
	width: 100%;
	height: 32px;
	display: flex;
	gap: 4px;
	justify-content: flex-end;
	align-items: center;
}

.player-right__icon-container {
		position: relative;
}

.player-right__icon {
	height: 32px;
	width: 32px;
	padding: 4px;
	border-radius: 50%;
	fill: white;
	transition: background-color .3s ease;

	svg {
		transition: fill .3s ease;
	}
}

.player-right__icon:active {
	cursor: pointer;
	background-color: unset;

	svg {
		fill: var(--color-scheme-secondary);
	}
}

.player-right__icon:hover {
	cursor: pointer;
	background-color: var(--divider-neutral-primary);
}

.player-right__volume-popover {
	position: absolute;
	z-index: 4;
	opacity: 0;
	display: none;
	transition: opacity .3s ease;
	right: -52px;
	bottom: 120%;
	width: 240px;
	height: 34px;
	border-radius: 0.5rem;
	background-color: var(--background-neutral-secondary);
	padding-inline: 12px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px 10px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
	align-items: center;
}

.player-right__volume-popover_hover {
	opacity: 1;
}

.player-right__volumeController {
	-webkit-appearance: none;
	background: linear-gradient(to right, var(--color-scheme-secondary) 0%, var(--color-scheme-secondary) var(--value), white var(--value), white 100%);
	height: 2px;
	width: 100%;
}

.player-right__volume-popover-square {
	position: absolute;
	opacity: 0;
	display: none;
	transition: opacity .3s ease;
	left: 50%;
	z-index: 5;
	bottom: 109%;
	transform: translateX(-50%)  rotate(45deg);
	background-color: var(--background-neutral-secondary);
	height: 8px;
	width: 8px;
}

.player-right__volume-popover-square_hover {
	opacity: 1;
}

.player-right__volumeController::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
	border: 1px solid var(--border-neutral-primary);
  border-radius: 50%;
  cursor: pointer;
	transform: translateY(calc(-50% + 1px));
}

.player-right__volumeController::-webkit-slider-runnable-track {
	height: 2px;
	cursor: pointer;
	background: linear-gradient(to right, var(--color-scheme-secondary) 0%, var(--color-scheme-secondary) var(--value), white var(--value), white 100%);
}

.player-right__volumeController::-moz-range-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
	border: 1px solid var(--border-neutral-primary);
  border-radius: 50%;
  cursor: pointer;
	transform: translateY(calc(-50% + 1px));
}

.player-right__volumeController::-moz-range-track {
	height: 2px;
	background: var(--color-scheme-secondary);
}

.player-right__settingsPopover {
	font-size: 14px;
	display: none;
	position: absolute;
	z-index: 4;
	opacity: 1;
	transition: opacity .3s ease;
	right: -16px;
	bottom: 120%;
	width: 240px;
	height: 194px;
	border-radius: 0.5rem;
	background-color: var(--background-neutral-secondary);
	padding: 16px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px 10px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

.player-right__settings-popover-square {
	position: absolute;
	opacity: 1;
	display: none;
	transition: opacity .3s ease;
	left: 50%;
	z-index: 5;
	bottom: 109%;
	transform: translateX(-50%)  rotate(45deg);
	background-color: var(--background-neutral-secondary);
	height: 8px;
	width: 8px;
}

.player-right__settings-type {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-right__settings-type-radio_hidden {
	opacity: 1;
	height: 0;
	width: 0;
}

.player-right__settings-type-radio-container {
	position: relative;
}

.player-right__settings-type-radio_visible {
	position: absolute;
	height: 22px;
	width: 22px;
	right: 0;
	top: -2px;
	border: 1px solid var(--color-scheme-secondary);
	border-radius: 50%;
}


.player-right__settings-type-radio_visible:hover {
	background-color: var(--background-neutral-secondary-hovered);
}
.player-right__settings-type-radio_visible:before {
	position: absolute;
	content: "";
	top: calc(50% - 5px);
	right: calc(50% - 5px);
	background-color: var(--color-scheme-secondary);
	padding: 4px;
	border: 1px solid var(--color-scheme-secondary);
	border-radius: 50%;
	height: 10px;
	width: 10px;
}

.player-right__settings-type-radio_visible:active {
	background-color: var(--divider-neutral-primary);
}

.player-right__settings-comment {
	margin-top: 8px;
	color: var(--color-scheme-gray);
}

.player-right__settings-normalize {
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.player-right__settings-switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 24px;
}


.player-right__settings-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.player-right__settings-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--divider-neutral-primary);
  -webkit-transition: .4s;
  transition: .4s;
}

.player-right__settings-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .player-right__settings-slider {
  background-color: var(--color-scheme-secondary);
}

input:checked + .player-right__settings-slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.player-right__settings-slider_round {
  border-radius: 34px;
}

.player-right__settings-slider_round:before {
  border-radius: 50%;
}


