.player {
	padding-inline: 16px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	border-top: 1px solid var(--border-neutral-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 33%;
	gap: 16px;
	background-color: var(--background-neutral-secondary);
	z-index: 5;
}

.player-left {
	width: 100%;
	height: 48px;
	justify-content: flex-start;
	display: flex;
	align-items: center;
}

.player-left__music-name {
	font-size: 1rem;
	line-height: 1.5rem;
}

.player-left__author {
	line-height: 1.25rem;
	font-size: 0.875rem;
}

.player-left__music-name:hover {
	text-decoration: underline;
	cursor: pointer;
}

.player-left__author:hover {
	text-decoration: underline;
	cursor: pointer;
}

.player-left__image {
	height: 100%;
	object-fit: contain;
	border-radius: 3px;
	border:1px solid var(--divider-neutral-primary)
}

.player-left__info {
	margin-left: 8px;
	font-weight: 400;
	height: 44px;
	font-family: Inter, sans-serif;
}

.player-left__actions {
	height: 32px;
	padding-left: 16px;
	display: flex;
	align-items: center;
	gap: 4px;
	fill: white;
}

.player-left__icon {
	height: 32px;
	width: 32px;
	padding: 4px;
	border-radius: 50%;
	transition: background-color,fill 0.3s ease;
}

.player-left__icon:hover {
	cursor: pointer;
	background-color: var(--divider-neutral-primary);
}

.player-left__icon:active {
	cursor: pointer;
	fill: var(--color-scheme-secondary);
	background-color: unset;
}

.player-center {
	width: 100%;
	height: 56px;
	display: flex;
	flex-direction: column;
}

.player-right {
	width: 100%;
	height: 32px;
	display: flex;
	gap: 4px;
	justify-content: flex-end;
	align-items: center;
}

.player-right__icon-container {
		position: relative;
}

.player-right__icon {
	height: 32px;
	width: 32px;
	padding: 4px;
	border-radius: 50%;
	fill: white;
	transition: background-color .3s ease;

	svg {
		transition: fill .3s ease;
	}
}

.player-right__icon:hover {
	cursor: pointer;
	background-color: var(--divider-neutral-primary);
}

.player-right__icon:hover ~ .player-right__volume-popover-square{
	animation-name: player-volume-appear;
}

.player-right__icon:hover ~ .player-right__volume-popover{
	animation-name: player-volume-appear;
}

.player-right__icon:active {
	cursor: pointer;
	background-color: unset;

	svg {
		fill: var(--color-scheme-secondary);
	}
}

.player-right__volume-popover {
	animation-fill-mode: forwards;
	animation-duration: .3s;
	animation-name: player-volume-disappear;
	position: absolute;
	z-index: 4;
	opacity: 0;
	display: flex;
	transition: opacity .3s ease;
	right: -56px;
	bottom: 120%;
	width: 240px;
	height: 34px;
	border-radius: 0.5rem;
	background-color: var(--background-neutral-secondary);
	padding-inline: 12px;
	box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px 10px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
	align-items: center;
}

.player-right__volume-popover:hover{
	opacity: 1 !important;
	display: flex!important;
}

.player-right__volume-popover:hover ~ .player-right__volume-popover-square{
	opacity: 1 !important;
	display: flex!important;
}

.player-right__volumeController {
	-webkit-appearance: none;
	background: linear-gradient(to right, var(--color-scheme-secondary) 0%, var(--color-scheme-secondary) var(--value), white var(--value), white 100%);
	height: 2px;
	width: 100%;
}

.player-right__volume-popover-square {
	animation-fill-mode: forwards;
	animation-duration: .3s;
	animation-name: player-volume-disappear;
	position: absolute;
	opacity: 0;
	transition: opacity .3s ease;
	left: 50%;
	z-index: 5;
	bottom: 109%;
	transform: translateX(-50%)  rotate(45deg);
	background-color: var(--background-neutral-secondary);
	height: 8px;
	width: 8px;
}

.player-right__volumeController::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
	border: 1px solid var(--border-neutral-primary);
  border-radius: 50%;
  cursor: pointer;
	transform: translateY(calc(-50% + 1px));
}

.player-right__volumeController::-webkit-slider-runnable-track {
	height: 2px;
	cursor: pointer;
	background: linear-gradient(to right, var(--color-scheme-secondary) 0%, var(--color-scheme-secondary) var(--value), white var(--value), white 100%);
}

.player-right__volumeController::-moz-range-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
	border: 1px solid var(--border-neutral-primary);
  border-radius: 50%;
  cursor: pointer;
	transform: translateY(calc(-50% + 1px));
}

.player-right__volumeController::-moz-range-track {
	height: 2px;
	background: var(--color-scheme-secondary); /* Цвет трека */
}

.player-right__settingsPopover {

}


@keyframes player-volume-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes player-volume-disappear {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}


