@import "fonts.css";

:root {
    --layout-sidebar-width: 272px;
    --tempo-fonts-body: Inter, sans-serif;
    --tempo-fonts-display: "Deezer Product", Tahoma, Arial, sans-serif;
    --background-neutral-secondary: #1b191f;
    --divider-neutral-primary: #3a393d;
    --border-neutral-primary: #555257;
    --color-scheme-main: #07CCBEFF;
    --color-scheme-secondary: #4ea8b4;
}