@import "fonts.css";

:root {
    --layout-sidebar-width: 272px;
    --tempo-fonts-body: Inter, sans-serif;
    --tempo-fonts-display: "Deezer Product", Tahoma, Arial, sans-serif;
    --background-neutral-secondary: #1b191f;
    --divider-neutral-primary: #3a393d;
    --border-neutral-primary: #555257;
    --color-scheme-ice: #E0F7FA;
    --color-scheme-sky: #B2EBF2;
    --color-scheme-water: #80DEEA;
    --color-scheme-main: #4DD0E1;
    --color-scheme-secondary: #00BCD4;
}