/**
 Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
*/

/* Deezer Light */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 300;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Light.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Light.woff") format("woff");
}

/* Deezer Regular */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 400;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Regular.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Regular.woff") format("woff");
}

/* Deezer Medium */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 500;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Medium.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Medium.woff") format("woff");
}

/* Deezer Bold */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 700;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Bold.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Bold.woff") format("woff");
}

/* Deezer Extra Bold */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 800;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Extrabold.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Extrabold.woff") format("woff");
}