/* Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Deezer Light */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 300;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Light.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Light.woff") format("woff");
}

/* Deezer Regular */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 400;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Regular.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Regular.woff") format("woff");
}

/* Deezer Medium */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 500;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Medium.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Medium.woff") format("woff");
}

/* Deezer Bold */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 700;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Bold.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Bold.woff") format("woff");
}

/* Deezer Extra Bold */
@font-face {
    font-display: swap;
    font-family: "Deezer Product";
    font-style: normal;
    font-weight: 800;
    src: url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Extrabold.woff2") format("woff2"),
    url("../../shared/assets/fonts/DeezerProduct/DeezerProduct-Extrabold.woff") format("woff");
}

/* ============================ */
/* PBSEveryman Regular */
@font-face {
    font-display: swap;
    font-family: "PBSEveryman";
    font-style: normal;
    font-weight: 400;
    src: url("../../shared/assets/fonts/PBSEveryman/PBSEveryman-Regular.ttf");
}