/* Inter Regular */

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../../shared/assets/fonts/Inter/inter-regular.woff2") format("woff2"),
    url("../../shared/assets/fonts/Inter/inter-regular.woff") format("woff");
}

/* Inter Semibold */

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../../shared/assets/fonts/Inter/inter-semibold.woff2") format("woff2"),
    url("../../shared/assets/fonts/Inter/inter-semibold.woff") format("woff");
}

/* Inter Bold */

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../../shared/assets/fonts/Inter/inter-bold.woff2") format("woff2"),
    url("../../shared/assets/fonts/Inter/inter-bold.woff") format("woff");
}

/* Inter Black */

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../../shared/assets/fonts/Inter/inter-black.woff2") format("woff2"),
    url("../../shared/assets/fonts/Inter/inter-black.woff") format("woff");
}