@import "shared/components/sidebar/sidebar.css";
@import "shared/components/topbar/topbar.css";
@import "widgets/player/player.css";
@import "widgets/main-page/main-page.css";
@import "widgets/genre-collections/genre-collections.css";

body {
    font-family: var(--tempo-fonts-body);
    color: #fdfcfe;
    background: #0f0d13;
    transition-property: background-color;
    transition-duration: 200ms;
    line-height: 1.333;
    font-size: 16px;
}

.main-body {
    height: 100vh;
    width: calc(100vw - var(--layout-sidebar-width));
    background-color: #0f0d13;
    padding-top: 80px;
}