@import "shared/components/sidebar/sidebar.css";
@import "shared/components/topbar/topbar.css";
@import "widgets/player/player.css";
@import "widgets/genre-collections/genre-collections.css";

body {
    font-family: var(--tempo-fonts-body);
    color: #fdfcfe;
    background: #0f0d13;
    transition-property: background-color;
    transition-duration: 200ms;
    line-height: 1.333;
    font-size: 16px;
}

.main-body {
    height: 100vh;
    width: calc(100vw - var(--layout-sidebar-width));
    background-color: #0f0d13;
    padding-top: 80px;
}


/* === main-page === */
.main-page {
    margin-left: var(--layout-sidebar-width);
    width: 100%;
    position: relative;
    height: 100%;
    background-color: #100d14;
}

.main-body-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 65px;
}

.main-body-heading {
    font-family: var(--tempo-fonts-display);
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
}

.main-body-heading_spaced {
    padding: 24px 0;
}

.page-link-title_section-spaced {
    padding: 24px 0;
}